.main-container {
    border-top: 1px solid lightgray;
}

.message-container:hover {
    background-color: lightgray;
}

.message-container-text {
    flex: 1 auto;
}
.message-container {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
}