@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@using WMS.UI.Pages.Dashboards
<div class="app-container d-flex flex-column overflow-hidden">
    <div class="top-menu">
        <MainMenu />
    </div>
 
    <div class="flex-grow-1 overflow-auto">
        <div class="p-5 content overflow-auto">
            @Body
        </div>
    </div>
    <div class="p-3 footer">
        <Footer></Footer>
    </div>
</div>



@code {
    string? NavMenuCssClass { get; set; }
    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += OnLocationChanged;
    }
    async void OnLocationChanged(object? sender, LocationChangedEventArgs args)
    {
    //if(IsMobileLayout) {
    //    IsSidebarExpanded = false;
    //    await InvokeAsync(StateHasChanged);
    //}
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}