<div class="d-flex">
    <div style="width:150px"></div>
    <div class="flex-grow-1 align-content-center justify-content-center text-center">
        <b>Top menu</b>
    </div>
    <div style="width:150px"></div>
</div>
