.vs/
.cr/
.idea/
vs/
cr/
idea/
bin/
obj/
/packages/
appsettings.json
appsettings.Development.json
launchSettings.json
WMS.Data/Migrations/
/ERP.sln.DotSettings.user

WMS.Data/appsettings.json
WMS.Seed/appsettings.json
WMS.UI/appsettings.json
WMS.API/appsettings.json

WMS.API/obj/
WMS.API/bin/
WMS.Seed/obj/
WMS.Seed/bin/

WMS.UI/obj/
WMS.UI/bin/

WMS.Data/obj/
WMS.Data/bin/

