.vs/
.cr/
.idea/
vs/
cr/
idea/
bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
appsettings.json
appsettings.Development.json
launchSettings.json
/ERP.Data/Migrations
/ERP.Blazor.Server/Properties/launchSettings.json
/ask.txt
/Unloading.Oris.Console/appsettings.json
/ERP.sln.DotSettings.user
/ERP.API/ExportBD
/ERP.API/FileAttachment

/ERP.DesktopProject/BankStatement.Client/appsettings.json
/ERP.API.ClientBank/appsettings.json
