@using WMS.Core.Constants.Enum

@if (Status == ItemType.Goods)
{
    <div style="display: flex; align-content: center; justify-content: center">
        <div class="fa-1x">
            <i class="fa-solid fa-file " style="color: gray;"></i>
        </div>
    </div>

}
else if (Status == ItemType.Services)
{
    <div style="display: flex; align-content: center; justify-content: center">
        <div class="fa-1x">
            <i class="fa-solid fa-file-circle-xmark" style="color: red;"></i>
        </div>
    </div>

}
@*else if (Status == ItemType.Goods)
{
    <div style="display: flex; align-content: center; justify-content: center">
        <div class="fa-1x">
            <i class="fa-solid fa-file-circle-check" style="color: green;"></i>
        </div>
    </div>
}*@

@code
{
    [Parameter]
    public ItemType Status { get; set; }
}
