@using WMS.Core.Enums

@if (Status == BelongTo.FinancialActivity)
{
    <div style="display: flex; align-content: center; justify-content: center">
        <div class="fa-1x">
            <i class="fa-solid fa-file " style="color: gray;"></i>
        </div>
    </div>

}
else if (Status == BelongTo.InvestmentActivity)
{
    <div style="display: flex; align-content: center; justify-content: center">
        <div class="fa-1x">
            <i class="fa-solid fa-file-circle-xmark" style="color: red;"></i>
        </div>
    </div>

}
else if (Status == BelongTo.OperatingActivity)
{
    <div style="display: flex; align-content: center; justify-content: center">
        <div class="fa-1x">
            <i class="fa-solid fa-file-circle-check" style="color: green;"></i>
        </div>
    </div>
}

@code
{
    [Parameter]
    public BelongTo Status { get; set; }
}
